/* NAVBAR */

.navcontainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

.clippath {
  position: absolute;
  z-index: -1;
  right: -2px;
  top: -490px;
  clip-path: circle(50% at 80% 50%);
  background-color: #f1f1f1;
  color: #777777;
  width: 750px;
  height: 750px;
}

.rightnav {
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
}

.menuitem {
  text-decoration: none;
  appearance: none;
  color: inherit;
  padding: 0rem 1rem;
}

.navbtn {
  width: 100px;
  height: 32px;
  border-radius: 20px;
  border: 2px solid #0a2640;
  color: #0a2640;
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.75rem;
}

.leftcontainer {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 5rem;
}

.rightcontainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3rem;
  object-fit: cover;
  width: 45%;
}

.heroheader {
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
  width: 450px;
  line-height: 50px;
}

.herotexts {
  font-size: 1rem;
  width: 500px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.btncontainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.headerbtn {
  width: 170px;
  height: 35px;
  border-radius: 20px;
  border: none;
  color: #fff;
  background-color: #0a2640;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.75rem;
  margin: 1rem 0rem;
}
.explorebtn {
  width: 130px;
  height: 35px;
  border-radius: 20px;
  border: 2.5px solid #0a2640;
  color: #0a2640;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.75rem;
  margin-left: 1rem;
}

.mobilemenu {
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: #0a2640;
}

.mobilenavbtn {
  width: 100px;
  height: 32px;
  border-radius: 20px;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.75rem;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  background-color: #0a2640;
  border-radius: 6px;
  cursor: pointer;
}

.closeicon {
  color: #ffffff;
  font-size: 1.2rem;
}

.mobileheader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.fabars {
  font-size: 1.4rem;
  cursor: pointer;
}

.mobilelinks {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding-left: 3rem;
}

.mobilelink {
  padding: 1rem;
  border-top: 1px solid #13171d;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  appearance: none;
  color: inherit;
}

.respnav {
  display: flex;
  align-items: center;
}

/* FOOTER */

.footergrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 0rem 0rem 0rem 5rem;
  margin-top: 3rem;
}

.footertext {
  margin-top: 2rem;
  font-size: 0.75rem;
  color: #777777;
  width: 220px;
}

.footerheading {
  font-size: 0.85rem;
  font-weight: 700;
  color: #000000;
}

.hiring {
  height: 10px;
  background-color: #65e4a3;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin-left: 1rem;
  font-weight: 600;
  font-size: 0.7rem;
}

.footerlinks {
  text-decoration: none;
  appearance: none;
  color: #777777;
  font-size: 0.8rem;
  margin: 1rem 0rem;
}

.copyright {
  font-size: 0.85rem;
  color: #777777;
  padding-left: 5rem;
  margin-bottom: 2rem;
}

.grids {
  display: flex;
  flex-direction: column;
}
.endgrid {
  display: flex;
  flex-direction: column;
}

.pokemongrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 0rem 5rem;
  margin-bottom: 6rem;
}

.pokemontext {
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 10rem;
}

.eachpokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
}

.category {
  appearance: none;
  color: rgb(67, 67, 255);
  text-decoration: none;
}

/* MEDIA QUERIES */

/* Mobile */
@media screen and (max-width: 768px) {
  .btncontainer {
    margin: auto;
  }

  .footergrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0rem 0rem 0rem 2rem;
    margin-top: 3rem;
  }

  .pokemongrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

  }
}

.btnmedia {
  display: none;
}

@media screen and (max-width: 1024px) {
  .btnmedia {
    display: flex;
    justify-content: flex-end;
  }
  .respnav {
    display: none;
  }

  .navcontainer {
    padding: 1rem 0rem 1rem 1rem;
  }
}
