.customTable {
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;
}

.customTable thead {
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
  color: #000000;
  font-size: 1rem;
  font-weight: 700;
}

.customTable th {
  padding: 20px;
}

.customTable td {
  padding: 10px 20px;
}

.customTable .oddrow {
  background-color: #f5f5f5;
  font-size: 0.9rem;
  font-weight: 400;
  color: #000;
}

.customTable .evenrow {
  background-color: #ffffff;
  font-size: 0.9rem;
  font-weight: 400;
  color: #000;
}

.btnsubmit {
  width: 70%;
  height: 32px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  background-color: #471c8f;
  cursor: pointer;
}
.btnsubmit:hover {
  background-color: #7e40e7;
}

.tablebody {
  padding-left: 2rem;
  margin-top: 6rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tableContainer {
  width: 100%;
  border-radius: 10px;
  padding: 1rem 4rem;
  overflow-x: scroll;
}

.heading {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  margin: 0px;
  margin-top: 2rem;
  margin-bottom: 0.6rem;
}

.closeicon {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin: 0px;
  padding: 0px;
  background-color: rgb(226, 4, 4);
  color: #fff;
  cursor: pointer;
}

.detailswrapper {
  border: 0.5px solid #d3d3d3;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
}

.detailseven {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  align-items: center;
  padding: 0.7rem 1.5rem;
  background-color: #f5f5f5;
  font-size: 0.7rem;
  font-weight: 600;
  color: #000;
  border-radius: 10px;
}
.detailsodd {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  align-items: center;
  padding: 0.7rem 1.5rem;
  background-color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
  color: #000;
  border-radius: 10px;
}
.detailsodds {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
  align-items: center;
  padding: 0.2rem 1.5rem;
  background-color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
  color: #000;
}

.right {
  text-align: center;
}

.btnclose {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  font-size: 0.75rem;
  border: none;
  color: #ffffff;
  background-color: #471c8f;
  cursor: pointer;
}

.customModalWidth .modal-dialog {
  max-width: 100%;
}

.customModalBody {
  overflow-x: auto;
  padding: 0px 30px;
}

.customTables {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  border: 0.5px solid #d3d3d3;
  border-radius: 10px;
}

.customTables thead {
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
  color: #000000;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
}

.customTables th {
  padding: 10px 5px;
}

.customTables td {
  padding: 10px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
  text-align: center;
}

.customTables .oddrow {
  background-color: #f5f5f5;
  font-size: 0.75rem;
  font-weight: 600;
  color: #000;
}

.customTables .evenrow {
  background-color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  color: #000;
}

.pokemontext {
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.pagination {
  list-style: none;
  appearance: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  margin: 1rem 0;
  gap: 15px;
}

.pagination .page-num {
  text-decoration: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 400;
  border: 3px solid #4208a7;
  color: #4208a7;
}

.next-arrow::after {
  content: ">";
}

.previous-arrow::before {
  content: "<";
}

.next-arrow,
.previous-arrow {
  text-indent: -9999px;
}

.pagination .page-num:hover {
  background-color: #4208a7;
  color: #fff;
}

.pagination .page-num:active {
  background-color: #4208a7;
}

.inputContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.searchfield {
  border: 1px solid #d3d3d3;
  display: block;
  width: 200px;
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: 21px;
  line-height: 1.5;
  background-clip: padding-box;
  border-radius: 10px;
}

.spinner {
  animation: spin 2s linear infinite;
}

.loaderContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spin {
  font-size: 5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .tableContainer {
    padding: 1rem 1rem;
  }
  .btnsubmit {
    width: 100%;
  }
}
